@model HomeIndexViewModel

<div class="container">
    <table class="table table-hover table-responsive">
        <tr>
            <th>Title</th>
        </tr>
        @foreach (var movie in Model.MovieTitles)
        {
            <tr>
                <td>@movie.MovieTitle</td>
                <td><a class="btn btn-info"
                            asp-controller="Movie"
                            asp-action="ShowInfo"
                            asp-route-Id=@movie.MovieId>Info</a></td>
            </tr>
        }
    </table>
</div>