@model MoviesAddViewModel

<div class="row">
    <div class="col col-lg-5 mx-auto">
        <h5>New movie</h5>
        <form asp-controller="Movies" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" class="form-control">
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId"></label>
                <select asp-for="CompanyId" asp-items="@Model.Companies" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="ActorIds"></label>
                <select asp-for="ActorIds" asp-items="@Model.Actors" class="form-control"></select>
            </div>
            @* show checkboxes here *@
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>