@model MoviesAddViewModel

<div class="row">
    <div class="col col-lg-5 mx-auto border border-1 rounded rounded-2">
        <h5>New movie</h5>
        <form asp-controller="Movies" asp-action="Add" method="post" enctype="multipart/form-data">
            <partial name="_MovieFormPartial" model="@Model" />
            <button type="submit" class="btn btn-primary mb-1">Add</button>
        </form>
    </div>
</div>