@model MoviesEditViewModel

<div class="row">
    <div class="col col-lg-5 mx-auto border border-1 rounded rounded-2 text-center">
        <h5>Edit movie</h5>
        <img src="~/images/@Model.ImageFilename" class="img-fluid" />
        <form asp-controller="Movies" asp-action="Edit" method="post" enctype="multipart/form-data">
            <partial name="_MovieFormPartial" model="@Model" />
            @* send the id of the movie *@
            <input asp-for="Id" />
            <button type="submit" class="btn btn-success mb-1">Save</button>
            <a asp-controller="Movies" asp-action="Index"
               class="btn btn-primary mb-1">Back</a>
        </form>
    </div>
</div>